@import url('https://fonts.googleapis.com/css?family=Manrope');

:root {
    --var-Text_color: white;
    --var-Humboldt-color: #F07358;
    --var-black-color: black;
    --var-fontStyle: "manrope";
    --var-fontweight: 700;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-style: var(--var-fontStyle);
}

img {
    max-width: 100%;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--var-black-color);
    width: 100%;
    font-family: 'Manrope', sans-serif;
}


.main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .group-1 {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(/assets/Images/Group\ 1925.png);
        background-position: right 0em top -60px;
        background-repeat: no-repeat;


        .aws_prosimo {
            width: 500px;
            display: flex;
            position: absolute;
            top: 20%;
            transform: translate(0, -40%);
            border: 1.3px;
            margin: auto;
            justify-content: space-between;
        }

        .aws_invent {
            border: 1.3px;
        }

        .prosimo {
            position: absolute;
            width: 274.3px;
            height: 58.49px;
            left: 65%;
            top: 23%;
        }

        .fullstack_Text_div {
            /* width: 1000px; */
            position: absolute;
            top: 40%;


            .title {
                font-size: 216px;
                font-weight: 900;
                letter-spacing: -.09em;
                line-height: 180px;
                text-align: left;
                background-color: rgba(240, 115, 88, 0.13)8;
                background-image: linear-gradient(180deg, #F07358 17.39%, rgba(240, 115, 88, 0.13) 100%);
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }
        }

        .BoothTime_logo {
            width: 500px;
            margin-right: 26%;
            background: transparent;
            margin-top: 37%;
            display: flex;

            .BoothTime_text {
                background: transparent;

                .h3 {
                    font-size: 48px;
                    font-weight: var(--var-fontweight);
                    line-height: 97px;
                    letter-spacing: -0.04em;
                    text-align: left;
                    background: transparent;
                }

                .label {
                    font-size: 23px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    background: transparent;
                }

            }

            .logo_842 {
                width: 266.07px;
                height: 265.91px;
                margin-left: 18%;
                margin-top: 1%;
                display: none;

                .img1 {
                    width: inherit;
                    background: transparent;
                }

                .img2 {
                    position: absolute;
                    margin-left: -229px;
                    margin-top: 1%;
                }
            }
        }
    }

    .group-2 {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(/assets/Images/Group\ 1926.png);
        background-position: left 0em top 0px;
        background-repeat: no-repeat;

        .Topgolf_logo_Text {
            font-size: 48px;
            font-weight: 700;
            line-height: 97px;
            letter-spacing: -0.04em;
            text-align: left;
            margin-top: 35px;

        }

        .Topgolf_Downtimetext {
            font-size: 28px;
            font-weight: 500;
            line-height: 44px;
            letter-spacing: -0.03em;
            text-align: left;
        }

        .TopGolf_Text_Form {
            margin-left: -100px
        }

        .Form_Area {
            width: 444px;
            height: 780px;
            top: 2045px;
            left: 1217px;
            border-radius: 8px;
            background-color: rgba(240, 115, 88, 1);
            margin-top: 13%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 10%;
        }

        .h3 {
            font-size: 38px;
            font-weight: var(--var-fontweight);
            line-height: 46px;
            letter-spacing: -0.03em;
            text-align: left;

        }

        .submit {
            width: 387.2px;
            height: 68.8px;
            top: 1947.4px;
            left: 802.4px;
            border-radius: 4.8px;
            background-color: black;
            text-align: center;
            font-size: 32px;
            font-weight: var(--var-fontweight);
            line-height: 46px;
            letter-spacing: 0.02em;

        }

        .input {
            width: 387.2px;
            height: 51.2px;
            top: 1456.2px;
            left: 800px;

        }
    }

    .Topgolf {
        width: 80%;
        display: flex;
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        background-image: url(/assets/Images/golf.png);
        background-position: center;
        background-repeat: no-repeat;

        .img {
            display: none;
            position: relative;
            margin-left: -135px;
            z-index: -1;
        }

        .ball {
            position: absolute;
        }
    }

    .golf-title {
        margin-top: 18%;
        margin-left: 10%;

        .text_list {
            margin-top: 20%;
            z-index: 1;
        }

        .golfLogo {
            position: relative;
            width: 326px;
            height: 88.34px;
            top: 348px;
            left: -50px;

        }

        .ball_tail {
            width: 1221px;
            height: 573.18px;
            z-index: -1;
            position: absolute;
            left: 150px;
            bottom: -160%;
        }

        .title {
            font-size: 80px;
            font-weight: var(--var-fontStyle);
            line-height: 85px;
            letter-spacing: -0.11em;
            text-align: left;
            background-color: rgba(240, 115, 88, 0.13)8;
            background-image: linear-gradient(180deg, #F07358 17.39%, rgba(240, 115, 88, 0.13) 100%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }

        .li {
            font-size: 28px;
            font-weight: 500;
            line-height: 44px;
            letter-spacing: -0.03em;
            text-align: left;
            z-index: 1;
        }

    }

    .Topgolf_logo_Text {
        font-size: 48px;
        font-weight: var(--var-fontweight);
        line-height: 97px;
        letter-spacing: -0.04em;
        text-align: left;
        margin-top: 35px;

    }

    .Topgolf_Downtimetext {
        font-size: 28px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.03em;
        text-align: left;
    }

    .TopGolf_Text_Form {
        z-index: 11111;
        margin-left: -100px
    }

    .Form_Area {
        width: 444px;
        height: 707px;
        top: 2045px;
        left: 1217px;
        border-radius: 8px;
        angle: 180 deg;
        background-color: rgba(240, 115, 88, 1);
        margin-top: 13%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 10%;
    }

    .h3 {
        font-family: Manrope;
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: -0.03em;
        text-align: left;

    }

    .form {
        .submit {
            width: 387.2px;
            height: 68.8px;
            top: 1947.4px;
            left: 802.4px;
            border-radius: 4.8px;
            background-color: black;
            text-align: center;
            font-family: Manrope;
            font-size: 32px;
            font-weight: 700;
            line-height: 46px;
            letter-spacing: 0.02em;

        }

        .input {
            width: 387.2px;
            height: 51.2px;
            top: 1456.2px;
            left: 800px;

        }
    }
}

.container-pc-pusher {
    height: 700px;
    background-color: var(--var-Humboldt-color);

    .Packet_Pushers {
        width: inherit;
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
    }

    .Packet_Pushers_logo {
        display: flex;
        flex-direction: column;

    }

    .two_menPic_mic {
        background-image: url(/assets/Images/Frame.svg);
        width: 513px;
        height: 533px;
        background-color: #F07358;

    }

    .packet_img {
        background-color: #F07358;
        background-image: url(/assets/Images/Group\ 1685.png);
        width: 204.61px;
        height: 55px;
        align-self: center;
        margin-top: 5%;
    }

    .Packet_Pushers_Text {
        .h4 {

            font-family: Manrope;
            font-size: 48px;
            font-weight: 700;
            line-height: 97px;
            letter-spacing: -0.04em;
            text-align: left;
        }

        .para {
            font-family: Manrope;
            font-size: 28px;
            font-weight: 400;
            line-height: 41px;
            letter-spacing: 0em;
            text-align: left;

        }

    }
}
.container-watch {

    .wina_watch_div {
        width: 98.4vw;
        height: 749px;
        background-size: cover;
        background-color: rgb(3, 50, 54);
        display: flex;
        background-image: url(/assets/Images/Screen\ Shot\ 2022-09-02\ at\ 12.27\ 1.png);

        .text-1 {
            margin: 15%;

            .p-white {
                font-size: 104px;
                font-weight: var(--var-fontStyle);
                line-height: 95px;
                letter-spacing: -0.09em;
                text-align: left;

            }

            .para {
                font-family: Manrope;
                font-size: 104px;
                font-weight: --varf;
                line-height: 95px;
                letter-spacing: -0.09em;
                text-align: left;
                color: #F07358
            }

        }

        .text-2 {
            margin-top: 18%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            .para {
                font-family: Manrope;
                font-size: 34px;
                font-weight: 500;
                line-height: 49px;
                letter-spacing: -0.03em;
                text-align: left;

            }

            .img {
                height: 64px;
                width: 64px;
            }
        }
    }

}

@media (min-width:768px) and (max-width : 996px) {

    body {
        width: 100%;
    }


    .main {
        width: inherit;
        align-items: center;

        .group-1 {
            width: inherit;
            background-image: none;
            align-items: center;

            .aws_prosimo {
                width: 80%;


                .aws_invent {
                    width: 350px;
                }

                .prosimo {
                    width: 300px;
                    left: 50%;
                }
            }

            .fullstack_Text_div {
                width: 80%;

                .title {
                    font-size: 130px;
                    line-height: 90px;
                }
            }

            .BoothTime_logo {

                width: 80%;
                flex-direction: column;
                margin-top: 48%;
                margin-left: 46%;
                
                .BoothTime_text
                {
                    .h3{
                        font-size: 80px;
                    }

                    .label
                    {
                        font-size: 40px;
                    }
                }
                .logo_842 {
                    display: block;
                    margin-left: 10%;
                    margin-top: 20%;
                }
            }
        }

        .group-2 {
            width: inherit;
            background-image: none;

            .Topgolf {
                margin-top: 0;
                flex-direction: column;
            }

            .golf-title {
                .li {
                    font-size: 25px;
                }

            }

            .Topgolf {
                .img {
                    margin-left: 0;
                }
            }

            .TopGolf_Text_Form {
                margin-left: 0;
            }

            .Topgolf_logo_Text {
                font-size: 30px;
                letter-spacing: 0;
            }

            .Topgolf_Downtimetext {
                font-size: 20px;
            }

            .Form_Area {
                width: inherit;
                height: 600px;
                margin-left: 5%;

                .form {
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .input {
                        width: 240px;
                        height: 30px;
                        margin: 15px;
                    }

                    .submit {
                        width: 240px;
                        height: 35px;
                        font-size: 28px;
                    }
                }
            }
        }
    }

    .container-pc-pusher {
        .Packet_Pushers {
            width: inherit;
            padding: 20%;
            flex-direction: column;
        }

        .two_menPic_mic {
            width: inherit;
            height: 413px;
            background-size: contain;
        }

        .Packet_Pushers_Text {

            .h4 {
                font-size: 35px;
            }

            .para {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }

    .container-watch {
        .wina_watch_div {
            background-size: cover;
            background-position: center;
            width: inherit;
            height: 500px;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;

            .text-1 {
                margin: 5%;

                .p-white {
                    font-size: 50px;
                    line-height: 35px;
                }

                .para {
                    font-size: 50px;
                    line-height: 35px;
                }
            }

            .text-2 {
                margin-top: 10%;

                .para {
                    font-size: 24px;
                    line-height: 25px;
                }
            }
        }
    }

}

@media (min-width:576px) and (max-width :768px) {

    body {
        width: 100%;
    }

    .main {
        width: inherit;
        align-items: center;

        .group-1 {
            width: inherit;
            background-image: none;

            .aws_prosimo {
                width: inherit;

                .aws_invent {
                    width: 250px;
                }

                .prosimo {
                    width: 200px;
                }
            }

            .fullstack_Text_div {
                width: inherit;

                .title {
                    font-size: 107px;
                    line-height: 90px;
                }
            }

            .BoothTime_logo {
                width: inherit;
                flex-direction: column;
                margin-top: 65%;
                margin-left: 2%;

                .logo_842 {
                    display: block;
                    margin: 0;
                }
            }
        }

        .group-2 {
            width: inherit;

            .Topgolf {
                flex-direction: column;
            }

            .golf-title {
                .li {
                    font-size: 25px;
                }

            }

            .Topgolf {
                .img {
                    margin-left: 0;
                }
            }

            .TopGolf_Text_Form {
                margin-left: 0;
            }

            .Topgolf_logo_Text {
                font-size: 30px;
                letter-spacing: 0;
            }

            .Topgolf_Downtimetext {
                font-size: 20px;
            }

            .Form_Area {
                width: inherit;
                height: 600px;
                margin-left: 5%;

                .form {
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .input {
                        width: 240px;
                        height: 30px;
                        margin: 15px;
                    }

                    .submit {
                        width: 240px;
                        height: 35px;
                        font-size: 28px;
                    }
                }
            }
        }
    }

    .container-pc-pusher {
        .Packet_Pushers {
            width: inherit;
            padding: 20%;
            flex-direction: column;
        }

        .two_menPic_mic {
            width: inherit;
            height: 413px;
            background-size: contain;
        }

        .Packet_Pushers_Text {

            .h4 {
                font-size: 35px;
            }

            .para {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }

    .container-watch {
        .wina_watch_div {
            background-size: cover;
            background-position: center;
            width: inherit;
            height: 500px;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;

            .text-1 {
                margin: 5%;

                .p-white {
                    font-size: 50px;
                    line-height: 35px;
                }

                .para {
                    font-size: 50px;
                    line-height: 35px;
                }
            }

            .text-2 {
                margin-top: 10%;

                .para {
                    font-size: 24px;
                    line-height: 25px;
                }
            }
        }
    }

}

@media(max-width:576px) {

    body {
        width: 100%;
    }

    .main {

        width: 100%;

        .group-1,
        .group-2 {
            width: inherit;
            background-image: none;

            .aws_prosimo {
                width: inherit;

                .aws_invent {
                    width: 150px;
                }

                .prosimo {
                    width: 100px;
                    left: 50%;
                }
            }

            .fullstack_Text_div {
                width: inherit;
                top: 200px;

                .title {
                    font-size: 70px;
                    line-height: 50px;
                }
            }

            .BoothTime_logo {
                width: inherit;
                margin-top: 70%;
                flex-direction: column;
                margin-left: 34%;

                .BoothTime_text {
                    margin-left: 0;

                    .label {

                        font-size: 1.4rem;
                        margin-left: 0;
                    }
                }

                .logo_842 {
                    display: block;
                    margin-left: 0%;
                    margin-top: 4%;
                }
            }
        }

        .group-2 {
            .Topgolf {
                width: inherit;
                background-image: none;
                flex-direction: column;
            }

            .golf-title {
                width: inherit;
                height: 500px;

                .li {
                    font-size: 20px;
                }

            }

            .Topgolf {
                .img {
                    display: block;
                    width: inherit;
                    margin-left: 0;
                }
            }

            .TopGolf_Text_Form {
                width: inherit;
                margin-left: 0;
            }

            .Topgolf_logo_Text {
                font-size: 35px;
                letter-spacing: 0;
            }

            .Topgolf_Downtimetext {
                font-size: 25px;
            }

            .golfLogo {
                top: 3%;
            }

            .ball_tail {
                display: none;
            }


            .Form_Area {
                width: inherit;
                height: 600px;


                .form {
                    width: inherit;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .input {
                        width: 240px;
                        height: 30px;
                        margin: 15px;
                    }

                    .submit {
                        width: 240px;
                        height: 35px;
                        font-size: 28px;
                    }
                }
            }
        }

    }

    .container-pc-pusher {
        width: 100%;
        height: 730px;

        .Packet_Pushers {
            width: inherit;
            flex-direction: column;
            align-items: center;
        }

        .two_menPic_mic {
            width: 300px;
            height: 310px;
            background-size: contain;
        }

        .Packet_Pushers_Text {
            width: inherit;

            .h4 {
                font-size: 35px;
            }

            .para {
                font-size: 23px;
                line-height: 25px;
            }
        }
    }

    .container-watch {
        .wina_watch_div {
            background-size: cover;
            background-position: center;
            width: inherit;
            height: 400px;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;

            .text-1 {
                margin: 5%;

                .p-white {
                    font-size: 40px;
                    line-height: 30px;
                }

                .para {
                    font-size: 40px;
                    line-height: 35px;
                }
            }

            .text-2 {
                margin-top: 10%;

                .para {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
    }

}