@import url('https://fonts.googleapis.com/css?family=Manrope');

:root {
    --var-Text_color: white;
    --var-Humboldt-color: #F07358;
    --var-black-color: black;
    --var-fontStyle: "manrope"
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--var-black-color);
    color: white;
    font-style: var(--var-fontStyle);
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    height: 120vp;
}


.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.aws_prosimo {
    display: flex;
    width: 618.8px;
    height: 118.3px;
    top: 101px;
    left: 411px;
    border: 1.3px;
    background-color: black;
    margin: auto;
    justify-content: space-between;
    position: absolute;
}

.aws_invent {
    width: 319.8px;
    height: 118.3px;
    top: 101px;
    left: 411px;
    border: 1.3px;

}

.prosimo {
    width: 274.3px;
    height: 58.49px;
    top: 132.2px;
    left: 411px;
}

.fullstack_Text_div {
    position: relative;
    width: 1412px;
    height: 322px;
    top: 338px;
    left: 245px;

}

.BoothTime_text {
    width: 445px;
    height: 320px;
    top: 615px;
    left: 261px;

}

.wina_watch_div {
    width: 1472px;
    height: 749px;
    top: 2881px;
    left: -16px;

    background-image: url(/assets/Images/Screen\ Shot\ 2022-09-02\ at\ 12.27\ 1.png);
}

.Packet_Pushers {
    width: inherit;
    display: flex;
    justify-content: space-around;
    background-color: var(--var-Humboldt-color);
}

.Packet_Pushers_logo {
    display: flex;
    flex-direction: column;
}

.two_menPic_mic {
    background-image: url(/assets/Images/Frame.svg);
    width: 513px;
    height: 533px;
    background-color: #F07358;

}

.packet_img {
    background-color: #F07358;
    background-image: url(/assets/Images/Group\ 1685.png);
    width: 204.61px;
    height: 55px;
    align-self: center;
}

.Packet_Pushers_Text
{
    
}